input {
    outline: 0;
    border-width: 0 0 1px;
    border-color: cadetblue
  }
input:focus {
border-color: blue
}
.active {
    background-color: rgb(82, 138, 139);
}

.icons {
    margin-right: 10px;
}

.labels {
    padding: 25px 25px 25px 25px; 
    color: white; 
}